venv/
.venv/
env/
__pycache__/
*.py[cod]
.streamlit/secrets.toml
*.csv
!data/Youtube-Spam-Dataset.csv
!data/Youtube-Spam-Dataset_equilibrado_csv.csv
feedback_correcciones.csv
feedback_correcciones_entrenamiento.csv
.DS_Store
Thumbs.db
.vscode/
.idea/
*.pkl
*.joblib
*.pt
*.bin
.ipynb_checkpoints/
